.flex{
    padding: 20px 0 100px 0;
    flex-direction: column;
    gap: 50px;
}

.blackscreen{
    height: calc(120vh + 20px);
}

.title{
    position: relative;
    font-size: 2em;
    width: fit-content;
    margin: 50px auto 0 auto;
    top: 0;
    left: 0;
    text-align: center;
}

.land-list{
    margin: 20px 0 0 0;
    padding: 0;
    height: 300px;
    width: 70%;
}

.land{
    padding: 5px 15px 5px 30px;
}

.land p{
    font-size: 1em;
}

.flag{
    width: 40px;
}

#map{
    width: 250px;
}

.popup-land{
    height: 50%;
    width: 85%;
}

.cross{
    left: calc(100% - 16vw);
}

.popup-land-title{
    font-size: 2rem;
    top: -12%;
  }

.lol{
    top: -20%;
    left: -30%;
    transform: scale(.5);
}