.flex{
    flex-direction: column;
    gap: 30px;
}

.blackscreen{
    height: 150vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .6;
}

.land-list{
    padding: 0;
    height: 300px;
    width: 70%;
}

.title{
    text-align: center;
    position: relative;
    font-size: 3em;
    width: fit-content;
    margin: 50px auto 60px auto;
    top: 0;
    left: 0;
}

#map{
    width: 80%;
    height: 50vh;
}

.cross{
    left: calc(100% - 5vw);
}

.enter{
    display: none;
}

.choose{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.lol{
    transform: scale(.7);
}